  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color:rgba(148, 195, 195, 0.803);
  }

  h2 {
      margin-bottom: 20px;
  }

  .container {
      width: 100%;
      border: 2px dashed gray;
      padding: 20px;
      overflow: hidden;
  }

  .box {
      width: 150px;
      height: 50px;
      margin: 15px 0;
      line-height: 50px;
      text-align: center;
      border: 2px solid black;

      transition-property: transform;
      transition-duration: 5s;
  }

  .linear {
      background-color: aqua;
      transition-timing-function: linear;
  }

  .ease {
      background-color: greenyellow;
      transition-timing-function: ease;
  }

  .ease-in {
      background-color: lightgreen;
      transition-timing-function: ease-in;
  }

  .ease-out {
      background-color: pink;
      transition-timing-function: ease-out;
  }

  .ease-in-out {
      background-color: orange;
      transition-timing-function: ease-in-out;
  }

  .container:hover .box {
      transform: translateX(calc(100vw - 250px));
  }
